<section class="property-binding">
    <article>
        <h3>Interpolação / Interpolation</h3>
        <p>String renderizada com a interpolação: {{ url }} </p>
        <p>Resultado de 1 + 1 é: {{1 + 1}}</p>
        <p>Resultado de 1 + 1 não é: {{1 + 1 + getValor()}}</p>
        <p>Curso de Angular e gosto do curso {{cursoAngular && getCurtirCurso()}}</p>
    </article>

    <article>
        <h3>&nbsp;Property Binding</h3>
        <img src="{{urlImagem}}">
        <img [src]="urlImagem">
    </article>

    <article>
        <h3>&nbsp;Class e Style Binding</h3>
        <div>
            Selecione uma classe:
            <select #classeSelecionada (change)="0">
                <option value="alert-success">Sucesso</option>
                <option value="alert-info">Info</option>
                <option value="alert-warning">Alerta</option>
                <option value="alert-danger">Erro</option>
            </select>
            <br><br>

            <div class="alert" role="alert" [class.alert-success]="classeSelecionada.value == 'alert-success'">Sucesso
            </div>
            <div class="alert" role="alert" [class.alert-info]="classeSelecionada.value == 'alert-info'">Info</div>
            <div class="alert" role="alert" [class.alert-warning]="classeSelecionada.value == 'alert-warning'">Aviso
            </div>
            <div class="alert" role="alert" [class.alert-danger]="classeSelecionada.value == 'alert-danger'">Erro</div>
            <div class="alert alert-danger" role="alert"
                [style.display]="classeSelecionada.value == 'alert-danger'?'block':'none'">StyleBinding - só aparece em
                caso de erro</div>

            <div class="alert {{classeSelecionada.value}} " role="alert">
                Texto colorido conforme o valor do combobox.
            </div>
        </div>
    </article>

    <article>
        <h3>&nbsp;Event Binding</h3>
        <div>
            <button class="btn btn-primary" (click)="botaoClicado()">
                Click me 👀
            </button>
            <input type="text" (keyup)="onKeyUp($event)" (keyup.enter)="salvarValor(campoImput.value)"
                (blur)="salvarValor(campoImput.value)" #campoImput />

            <p>&nbsp; Valor Atual {{valorAtual}}</p>
            <p>&nbsp; Valor Salvo {{valorSalvo}}</p>
            <br>

            <span (mouseover)="onMouseOverOut()" (mouseout)="onMouseOverOut()" [class.highlight]="isMouseOver">
                &nbsp;Passe o Mouse por cima!
            </span>
        </div>
    </article>
</section>


<section class="two-way-binding">
    <article>
        <h3>&nbsp;two-way data binding</h3>
        <div>
            <input type="text" [value]="nome" (input)="nome = $event.target.value" />
            <input type="text" [ngModel]="nome" (ngModelChange)="nome = $event" />
            <input type="text" [(ngModel)]="nome" />
            <p> você digitou: {{nome}} </p>
        </div>

        <div>
            <p>Meu nome é {{pessoa.nome}} e tenho {{pessoa.idade}} anos de idade</p>
            <input type="text" [(ngModel)]="pessoa.nome">
            <input type="text" [(ngModel)]="pessoa.idade">
        </div>
    </article>
</section>

<section class="input-output-properties">
    <article>
        <h3>&nbsp;Input/Output Properties</h3>
        <app-curso [nome]="nomeCurso"></app-curso>
        <contador></contador>
    </article>
</section>





<br><br><br>